<div class="box" *ngIf="channel !== null">
    <div class="box-header">
        <h3 class="box-title">Channel: {{channel.name}}</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-3">
                Users: <br />
                <div *ngFor="let u of users">{{u.firstName}}</div>

            </div>
            <div class="col-xs-9">
                <div *ngIf="messages.length == 0" class="row">
                    <div class="col-xs-12">You Have no Messages</div>
                </div>
                <div *ngIf="messages.length !== 0" class="row">
                    <div class="col-xs-12" *ngFor="let m of messages">
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">{{m.fromUser.firstName}}</span>
                                <span class="direct-chat-timestamp pull-right">{{m.createDate}}</span>
                            </div>
                            <img *ngIf="m.fromUser.image !== null" src="./uploads/{{m.fromUser.id}}/{{m.fromUser.image}}" class="direct-chat-img" alt="User Image" />
                            <!-- /.direct-chat-info -->
                            <div class="direct-chat-text">
                                <img style="width: 100%;max-width: 300px;" *ngIf="m.image != null" src="/uploads/{{m.userId}}{{m.image}}">
                                {{m.message}}
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <form action="#" method="post">
            <div class="input-group">
                <input type="text" name="message" [(ngModel)]="newMessage" placeholder="Type Message ..." class="form-control">
                <span class="input-group-btn">
                  <input type="file" #upload (change)="onFileChange($event)" style="display:none;"/>
                  <button type="button" (click)="upload.click()" class="btn btn-primary btn-flat">Attach</button>
                  <button type="button" (click)="sendMessage(newMessage)" class="btn btn-warning btn-flat">Send</button>
                </span>
            </div>
        </form>
    </div>
</div>
