<form [formGroup]="loginForm" (submit)="successForm($event)">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="email" placeholder="Username" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password" />
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>