
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Channels</h3>
  </div>
  <div class="box-body">
    <button routerLink="/channels/create" class="btn btn-primary" *ngIf="apiService.canUser('group')">Create New Channel</button>
    <br />
    <table class="table table-bordered">
      <thead>
      <tr class="row">
        <th class="col-xs-3">Name</th>
        <th class="col-xs-3">Users</th>
        <th class="col-xs-3">Group</th>
        <th class="col-xs-3">Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="channels.length > 0">
      <tr *ngFor="let c of channels" class="row">
        <td class="col-xs-3">{{c.name}}</td>
        <td class="col-xs-3">{{c.users.length}}</td>
        <td class="col-xs-3">{{c.groupId}}</td>
        <td class="col-xs-3">
          <a routerLink="/channels/{{c.id}}"><i class="fa fa-send"></i></a>
          <a routerLink="/channels/edit/{{c.id}}" *ngIf="apiService.canUser('group')"><i class="fa fa-pencil"></i></a>
          <a (click)="deleteChannel(c.id)" *ngIf="apiService.canUser('group')"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="channels.length == 0">
      <tr>
        <td class="col-xs-12">
          <span>There are no channels</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>