<form [formGroup]="channelForm" (submit)="successForm($event)">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Name" />
  </div>
  <div class="form-group">
    <label>Group</label>
    <select (change)="groupChange($event)" class="form-control" formControlName="groupId" placeholder="Group">
      <option  *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Users</label>
    <select class="form-control" formControlName="users" placeholder="Users" multiple>
      <option *ngFor="let user of userList" [value]="user.id">{{user.firstName}}</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!channelForm.valid">Save</button>
</form>