.main-footer {
    max-height: 51px;
}

.wrapper {
    height: 100vh !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fix-container {
    overflow-x: hidden;
    height: 75vh;
    overflow-y: scroll;
}