<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3" style="margin-top: 30vh;">
    <div class="panel panel-default">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
        <app-loginform (submitForm)="submitLogin($event)"></app-loginform>
      </div>
    </div>
  </div>
</div>