
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Channel</h3>
  </div>
  <div class="box-body">
    <app-channelform (submitForm)="submitChannel($event)" [channel]="channel"></app-channelform>
  </div>
</div>