<form [formGroup]="userForm" (submit)="successForm($event)">
    <img *ngIf="getUserImage() != null" src="./uploads/{{getUserId()}}/{{getUserImage()}}" class="img-circle" alt="User Image" />
  <input type="file" (change)="onFileChange($event)" />
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email" placeholder="Email Address" />
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" />
  </div>
  <div class="form-group" *ngIf="isElevated()">
    <label>Permissions</label>
    <select class="form-control" formControlName="permissions" placeholder="Permissions" multiple>
      <option *ngFor="let perm of permissions" [value]="perm">{{perm}}</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Save</button>
</form>