
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Users</h3>
  </div>
  <div class="box-body">
    <button class="btn btn-primary" routerLink="/admin/users/create">Create New User</button>
    <br />
    <table class="table table-bordered">
      <thead>
      <tr class="row">
        <th class="col-xs-1">ID</th>
        <th class="col-xs-3">First Name</th>
        <th class="col-xs-3">Last Name</th>
        <th class="col-xs-3">Email</th>
        <th class="col-xs-2">Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="users.length > 0">
      <tr *ngFor="let u of users" class="row">
        <td class="col-xs-1">{{u.id}}</td>
        <td class="col-xs-3">{{u.firstName}}</td>
        <td class="col-xs-3">{{u.lastName}}</td>
        <td class="col-xs-3">{{u.email}}</td>
        <td class="col-xs-2">
          <i class="fa fa-user"></i>
          <a routerLink="/admin/users/{{u.id}}"><i class="fa fa-pencil"></i></a>
          <a (click)="deleteUser(u.id)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="users.length == 0">
        <tr>
          <td class="col-xs-12">
            <span>There are no users</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>