<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Latest Messages</h3>
    </div>
    <div class="box-body">
      <div *ngFor="let m of messages"><a href="/channels/{{m.channelId}}}">
        <div class="direct-chat-msg">
          <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left">{{m.fromUser.firstName}}</span>
            <span class="direct-chat-timestamp pull-right">{{m.createDate}}</span>
          </div>
          <img *ngIf="m.fromUser.image !== null" src="./uploads/{{m.fromUser.id}}/{{m.fromUser.image}}" class="direct-chat-img" alt="User Image" />
          <!-- /.direct-chat-info -->
          <div class="direct-chat-text">
            <img style="width: 100%;max-width: 300px;" *ngIf="m.image != null" src="/uploads/{{m.userId}}{{m.image}}">
            {{m.message}}
          </div>
          <!-- /.direct-chat-text -->
        </div>
      </a></div>
    </div>
  </div>

  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">My Channels</h3>
    </div>
    <div class="box-body">
      <div *ngFor="let channel of channels"><a href="/channels/{{channel.id}}">{{channel.name}}</a></div>
    </div>
  </div>

  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">My Groups</h3>
    </div>
    <div class="box-body">
      <div *ngFor="let group of groups"><a href="/channels?groupId={{group.id}}">{{group.name}}</a></div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</section>